{{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li> --}}
<tr>
	<td>{{ id }}</td>
	<td>{{ burger_name }}</td>
	<td><button id="{{ id }}" class="deleteBTN btn-danger">Delete</button></td>
</tr>